<div id="<%= dom_id comentario %>">
  <p>
    <strong>Contenido:</strong>
    <%= comentario.contenido %>
  </p>

  <p>
    <strong>Noticia:</strong>
    <%= comentario.noticia_id %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= comentario.user_id %>
  </p>

</div>
