<header class="masthead headerindex" style="background-image: url(https://picsum.photos/1900/1267);">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Editando comentario</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="my-5">


          <%= render "form", comentario: @comentario %>


</div>
</div>
</div>
</div>
</main>